body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  column-gap: 3rem;
  &__left {
    &-top-text {
      color: red;
      font-weight: bold;
    }
    &-center-text {
      font-size: 2rem;
      font-weight: bold;
    }
  }
  &__right {
    &-text {
      opacity: 0.6;
    }
  }
}
