body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  .header__container {
    padding: 20px;
    &-list {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 5rem;
      &-links {
        color: rgb(158, 151, 151);
        font-weight: 600;
        text-decoration: none;
      }
      &-span {
        color: green;
        padding-left: 5px;
      }
    }
  }
}

#main {
  .main__container {
    display: flex;
    justify-content: center;
    column-gap: 10rem;
    margin: 0 11rem;
    border-top: 1px solid lightgray;
    padding-top: 50px;
    &-cards {
      width: 400px;
      :nth-child(3) {
        padding: 0 0 0 20px;
        border-left: 3px solid green;
      }
    }
    &-cards-list {
      display: flex;
      flex-direction: row;
      width: 470px;
      column-gap: 10rem;
      ul {
        list-style-image: url("../assets/icon/book\ \(1\).png");
        li {
          margin-bottom: 2rem;
          h3 {
            position: relative;
            top: -40px;
            margin: 0;
            padding: 0;
          }
          p {
            position: relative;
            top: -30px;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
